@media screen and (max-width: 1160px) {
    #dragon {
        display: none;
    }

}


@media screen and (max-width: 750px) {
    .footerTitles {
        font-size: 20px;
    }
    #startBtn {
        font-size: 35px;
    }
    .segment-1 {
        left: 5%;

        margin-right: 5%;
    }
    .intro-chi {
        width: 150px;
    }
    .text-block {
        font-size: 3vw;
    }
}