@media screen and (max-width: 1350px) {
    .sticky-navBar a {
        font-size: 15px;
    }

}

@media screen and (max-width: 1170px) {
    #dragon {
       display: none;
    }
    .extra-space {
        display: block;
    }

    .sticky-navBar {
        display: none;
    }

    .navBtn-container {
        display: none;
    }

    .hamburgerMenu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cred-between > a {
        font-size: 3vw;
    }

}


@media screen and (max-width: 750px) {
    .footerTitles {
        font-size: 20px;
    }
    #startBtn {
        font-size: 35px;
    }
    #background-image-st-bt {
        background-size: auto 50px;
    }
    #startBtn:hover #background-image-st-bt {
        background-size: auto 75px;
    }
    .segment-1 {
        left: 5%;

        margin-right: 5%;
    }
    .intro-chi {
        width: 150px;
    }
    .text-block {
        font-size: 3vw;
    }
}