body {
    margin: 0;
    position: relative;
}

header {
    background-color: darkred;
    height: 125px;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

.container > div {
    background-color: blue;
    border: solid black;
    flex: 1 200px;
}

#first-carousel {
    background-image: url("./img/Renminbi_banknotes.JPG");
}

#second-carousel {

}

#third-carousel {

}

button {
    height: 125px;
    width: auto;
    font-size: 25px;
    font-weight: bold;
    border: solid 0;
    position: absolute;
    left: 0;
    top: 0;
}