@font-face {
    font-family: fontquan;
    src: url("./fonts/Fontquan-XinYiJiXiangSong Regular.ttf");
}

@font-face {
    font-family: go3v2;
    src: url("./fonts/go3v2.ttf");
}

@font-face {
    font-family: hanyi;
    src: url("./fonts/HanyiSentyPagoda Regular.ttf");
}

body {
    margin: 0;
    max-width: 100%;
    min-height: 200vh;
    background-image: url("./img/wavy background transp 1.png");
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

/*header--------------------------*/
header {
    /*background-color: #6C0E23;*/
    height: 125px;
    display: flex;
}

.bg-header {
    z-index: -100;
    position: absolute;
    left: 0;
    right: 0;
}
.bg-header > img {
    width: 100%;
    height: 173px;
    overflow: hidden;
}

.start-btn-container {
    flex: 1;
    display: flex;
}

.start-btn-container > a {
    flex: 1 100px;
    display: flex;
    text-decoration: none;
}

#startBtn {
    flex: 1;
    border: solid black 0;
    padding: 20px;
    font-family: go3v2, serif;
    font-size: 50px;
    color: white;
    background-color: #6C0E23;
    cursor: pointer;
    text-align: center;
}

#startBtn:hover {
    cursor: pointer;
    background-color: #380714;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    flex: 5;
}

#dragon {
    flex: 4;
}

.navBtn-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    height: 125px;
}

.navBtn-container > div  {
    flex: 1;
    display: flex;
}

.navButtons {
    flex: 1;
    background-color: #6C0E23;
    color: white;
    font-family: go3v2, serif;
    font-size: 20px;
    border: solid black 0;
    z-index: 3;
    transition: .1s;
}

.navButtons:hover {
    background-color: #380714;
    cursor: pointer;
}

/*dropdown nav--------------------------*/
.dropdown:hover .dropdown-content {
    display: block;
    top: 125px;
}

.dropdown > button {
    text-align: center;
}

.dropdown {
    justify-content: right;
}

.dropdown-content {
    display: block;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
    top: 0;
    transition: .2s;
}

.dropdown-content a {
    font-family: go3v2, serif;
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


/*dropdown lightTheme--------*/
.dropdown-lightTheme {
    background-color: #f9f9f9;
}

.dropdown-lightTheme a:hover {
    background-color: #ddd;
}

.dropdown-lightTheme a {
    color: black;
}

/*dropdown darkTheme----------*/
.dropdown-darkTheme {
    background-color: black;
}

.dropdown-darkTheme a:hover {
    background-color: #1F1F1FFF;
}

.dropdown-darkTheme > div > a {
    color: white;
}

.dropdown-darkTheme > div > div > a {
    color: white;
}

/*dropdown theme--------------------------*/
.dropdown-theme:hover .dropdown-content-theme {
    display: block;
}

.dropdown-theme {
    position: relative;
}

.dropdown-content-theme {
    display: none;
    position: absolute;
    right: 160px;
    top: 0;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content-theme a, button {
    float: none;
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content-theme a:hover {
    cursor: pointer;
}

/*dropdown nav arrow-------------*/
.arrowNavbar {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrowDropdown {
    border-style: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrowColorLight {
    border-color: black;
}

.arrowColorDark {
    border-color: white;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*main---------------------------*/
main {
    height: 100vh;
    flex: 1;
}

.credit-container {
    margin: 70px 10px 10px;
    border: none;
    display: flex;
    justify-content: space-around;
}

.credit-container > div {
    border: none;
}

/*footer-------------------------*/
footer {
    min-height: 140px;
    background-color: #6C0E23;
    display: flex;
}

.footerData {
    flex: 1 75px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerTitles {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: go3v2, serif;
}
