@font-face {
    font-family: fontquan;
    src: url("./fonts/Fontquan-XinYiJiXiangSong Regular.ttf");
}

@font-face {
    font-family: go3v2;
    src: url("./fonts/go3v2.ttf");
}

@font-face {
    font-family: hanyi;
    src: url("./fonts/HanyiSentyPagoda Regular.ttf");
}

body {
    margin: 0;
}

/*header--------------------------*/
header {
    background-color: #6C0E23;
    height: 125px;
    display: flex;
}

.start-btn-container {
    flex: 1;
    display: flex;
}

.start-btn-container > a {
    flex: 1 100px;
    display: flex;
    text-decoration: none;
}

#startBtn {
    flex: 1;
    border: solid black 4px;
    padding: 20px;
    font-family: go3v2, serif;
    font-size: 50px;
    color: white;
    background-color: #C42021;
    cursor: pointer;
}

#startBtn:hover {
    background-color: darkred;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    flex: 5;
}

#dragon {
    flex: 4;
}

.navBtn-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    height: 125px;
}

.navBtn-container > div  {
    flex: 1;
    display: flex;
}

.navButtons {
    flex: 1;
    background-color: #6C0E23;
    color: white;
    font-family: go3v2, serif;
    font-size: 20px;
    border: solid black 0;
}

.navButtons:hover {
    background-color: #380714;
    cursor: pointer;
}

/*main---------------------------*/
main {
    height: 100vh;
    display: flex;
}

main > div {
    flex: 1 200px;

}

/*footer-------------------------*/
footer {
    min-height: 140px;
    background-color: #6C0E23;
    display: flex;
}

.footerData {
    flex: 1 100px;
    margin: 10px;
}

.footerTitles {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: go3v2, serif;
}

.footerData > ul > li {
    font-family: go3v2, serif;
    font-size: 20px;
}

.footerData> ul > li::marker {
    content: "- ";
    font-size: 20px;
}